# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
bin/Debug/netstandard2.1/Close Menu On Damage.deps.json
obj/Close Menu On Damage.csproj.nuget.dgspec.json
obj/Close Menu On Damage.csproj.nuget.g.props
obj/Close Menu On Damage.csproj.nuget.g.targets
obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
obj/Debug/netstandard2.1/Close Me.35C2F997.Up2Date
obj/Debug/netstandard2.1/Close Menu On Damage.AssemblyInfo.cs
obj/Debug/netstandard2.1/Close Menu On Damage.AssemblyInfoInputs.cache
obj/Debug/netstandard2.1/Close Menu On Damage.assets.cache
obj/Debug/netstandard2.1/Close Menu On Damage.csproj.AssemblyReference.cache
obj/Debug/netstandard2.1/Close Menu On Damage.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.1/Close Menu On Damage.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.1/Close Menu On Damage.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netstandard2.1/Close Menu On Damage.sourcelink.json
obj/project.assets.json
obj/project.nuget.cache
/obj
/bin
